@font-face {
    font-family: "Typewriter";
    src: url("../fonts/TravelingTypewriter.otf")
}

body {
	background-color: whitesmoke;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5 {
	font-size: 40px;
	font-weight: 900;
}

p {
	font-size: 22px;
	font-family: 'Gentium Book Basic', serif;
	font-weight: 400;
}

img {
    margin: 0;
    padding: 0;
}

header {
	width: 100%;
	height: 650px;
    font-family: Typewriter;
    text-align: center;
}

section {
	margin: 15% 25%;
}

.flex-box {
    display: flex;
}

.flex-1-2 {
    width: 50%;
}

.flex-left {
    align-content: flex-start;
}

.header-content {
    color: whitesmoke;
    font-size: 40px;
    font-weight: 900;
    color: whitesmoke;
}

.header-left {
    background-color: black;
    height: 600px;
}

.header-right {
    height: 600px;
}

.color-overlay {
    background: black;
    opacity: .2;
}

.quote {
    font-size: 24px;
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-style: italic;
    color: whitesmoke;
}

#js-fadeInText {
	display: none;
}

.bucket {
    width: 100%;
}

.block {
    width: 100%;
    display: block;
}

.inline-block {
    display: inline-block;
    float: left;
}

/*Typed Cursor*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation:    blink 1s infinite;
    animation:         blink 1s infinite;
}
    @keyframes blink{
        0%   { opacity:1; }
        50%  { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0%   { opacity:1; }
        50%  { opacity:0; }
        100% { opacity:1; }
    }
    @-moz-keyframes blink{
        0%   { opacity:1; }
        50%  { opacity:0; }
        100% { opacity:1; }
}

/*End Typed Cursor*/

@media (min-width: 1500px) { 
	header {
		height:700px;
	}
}

@media (max-width: 1000px) { 
	section {
		margin: 15%;
	}
	header {
		height:500px;
	}
}

@media (max-width: 775px) { 
	header {
		height:300px;
	}
}

@media (max-width: 450px) { 
	section {
		margin: 15% 7.5%;
	}
	header {
		height:200px;
	}
}